* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body,
.form,
.form-div,
.feature,
.picture-background,
.btn.sighup,
.btn.google,
.btn.twitter {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.site {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.hr {
  display: block;
  border: none;
  border-top: 0.5px solid #02081e67;
  margin-bottom: 1.6rem;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #dedede;
  flex-direction: column;
}

.section--loginForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f7f7f7;
  margin: 5rem auto;
  max-width: 96rem;
  padding: 1.2rem;
  border-bottom-right-radius: 5rem;
}

.form {
  align-items: flex-start;
  flex-direction: column;
  padding: 4.2rem 4.2rem;
}

.header-name {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.header-intro {
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.header-texts {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 2.4rem;
}

.form-div {
  gap: 1.2rem;
}

.form-logo {
  font-size: 2.4rem;
}

.alternative {
  align-items: stretch;
  align-self: stretch;
}

.terms.form-text {
  font-size: 1.4rem;
}

.input {
  padding: 1.4rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.btn {
  padding: 0.8rem;
  border: none;
  border-radius: 10rem;
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
}

.input.name,
.input.email,
.input.password {
  padding: 1.2rem 0;
  margin-bottom: 1.2rem;
  min-width: 25rem;
}

.input.password {
  margin-bottom: 2.4rem;
}

input::placeholder {
  color: #222;
}

.btn.sighup,
.btn.google,
.btn.twitter {
  border: none;
  border-radius: 0.8rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  gap: 0.8rem;
  width: 25rem;
  margin-bottom: 1.2rem;
}

.btn.sighup {
  background-color: #111;
  color: #f7f7f7;
}

.btn.twitter {
  margin-bottom: 2.8rem;
}

.method {
  font-size: 1rem;
  align-self: center;
  color: #333;
  margin-bottom: 4.2rem;
}

.account {
  color: #000;
}

.svg {
  width: 1.6rem;
}

.picture-background {
  background-image: url("imgs/small1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  padding: 2.4rem;
  justify-content: flex-end;
  color: #f7f7f7;
  border-radius: 3rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.picture-header {
  margin: 0.8rem 10.8rem;
  padding: 0.2rem 1.4rem;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
}

.picture-text {
  align-self: stretch;
  padding: 0.6rem;
  font-size: 1.8rem;
  text-align: center;
  color: #ebebeb;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.feature {
  gap: 1rem;
  padding: 0.6rem;
}

.google-logo {
  width: 3.2rem;
}
