* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body,
.container {
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #f7f7f7;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #fd3838 74%);
  min-height: 100vh;
}

.container {
  margin: 10rem auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  border-radius: 1.8rem;
}

.hidden {
  display: none;
}

.card-img {
  width: 30rem;
  height: 30rem;

  box-shadow: 0 0 3.2rem 0 rgba(0, 0, 0, 0.2);
  margin: 2.8rem 0 2.8rem -6.8rem;
  border-radius: 1.8rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card-img:nth-child(1) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.06)
    ),
    url("img/national-cancer.jpg");
}

.card-img:nth-of-type(3) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.06)
    ),
    url("img/research-ongoing.jpg");
}

.card-img:nth-child(5) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.06)
    ),
    url("img/medical-gadgets.jpg");
}

.card_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1.8rem;
}

.date {
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  color: #333;
  margin-top: 4.8rem;
}

.heading {
  margin-bottom: 1.8rem;
  font-size: 2.2rem;
  color: #222;
}

.card-text {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 5.6rem;
  color: #333;
}

.read-more {
  margin-bottom: 6rem;
}

.btn:link,
.btn:active {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  background-image: linear-gradient(to right bottom, #ff7300, #ff0000d7);

  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:visited {
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
  color: #f7f7f7;
}

.more-info {
  max-width: 60rem;
  margin-left: 2.4rem;
  padding-left: 2.4rem;
}

.dots {
  list-style-type: none;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.dot-detail {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #c2c2c2;
  transition: all 0.5s;
}

.current-dot {
  background-color: #ff1a1a;
  height: 2.4rem;
  width: 0.8rem;
  border-radius: 0.3rem;
}
