* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body,
.container {
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #f7f7f7;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to right bottom, red, blue);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.container {
  margin: 10rem auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  border-radius: 1.8rem;
}

.card-img {
  width: 30rem;
  height: 30rem;
  margin-left: -6.8rem;
  border-radius: 1.8rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.06)
    ),
    url("img/national-cancer.jpg");
  background-size: cover;
  background-position: center;
}

.card_holder {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1.8rem;
}

.more-info {
  max-width: 60rem;
}

.dots {
  list-style-type: none;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.dot-detail {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #999;
}

.current-dot {
  background-color: rgb(189, 244, 60);
  height: 3rem;
  border-radius: 0.3rem;
}
