* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #333;
  color: #f7f7f7;
}

.no-display {
  display: none;
}

.container {
  margin: 3.4rem auto;
  max-width: 100rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.img-list.current-img {
  width: 80rem;
  border-radius: 3.2rem;
}

.img-list {
  position: relative;
  color: #f7f7f7;
  width: 6.8rem;
  height: 84vh;
  border-radius: 5rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s;
}

.img-list:nth-child(1) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('images/bridge-image.jpg');
  background-size: cover;
  background-position: center;
}

.img-list:nth-child(2) {
  background-image: url('images/city-with-lighting.jpg');
}

.img-list:nth-child(3) {
  background-image: url('images/metal-bridge.jpg');
}

.img-list:nth-child(4) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('images/statue-on-tower.jpg');
}

.img-list:nth-child(5) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('images/tall-building.jpg');
}

.img-holder {
  position: absolute;
  bottom: 1.2rem;
  left: 1.8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: start; */
  /* justify-content: start; */
  row-gap: 0.5rem;
  column-gap: 1.2rem;
  background-color: rgb(68, 52, 52);
}

.flag-logo {
  width: 4.2rem;
  grid-row: 1/3;
  grid-column: 1/2;
}

.img-list h3 {
  font-size: 1.8rem;
  color: #c6c6c6;
}

.img-list p {
  grid-column: 2/-1;
  font-size: 1.8rem;
  color: #adadad;
}

.dot-list {
  background-color: #949494;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.current-dot {
  width: 1.8rem;
  border-radius: 0.4rem;
  background-color: #1b1919;
}
