* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #333;
  color: #f7f7f7;
}

.img-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: end; */
  /* /* justify-content: start; */
  /* row-gap: 0.5rem; */
  /* column-gap: 0.3rem; */
  background-color: rgb(5, 60, 50);
  width: 70rem;
}

.flag-logo {
  width: 4.2rem;
  grid-row: 1/-1;
  /* grid-column: 1/-1; */
  background-color: rgb(162, 42, 206);
}

.img-list h3 {
  font-size: 1.8rem;
  color: #c6c6c6;
  background-color: rgb(48, 186, 71);
}

.img-list p {
  font-size: 1.8rem;
  color: #adadad;
  background-color: rgb(0, 67, 175);
}

/* 
.head-text {
  font-size: 1.8rem;
  color: #c6c6c6;
}

.more {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.8rem;
  color: #adadad;
} */

/* 
.container {
  margin: 2.5rem auto;
  padding: 0.5rem;
} */

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
/* 
.grid {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style-type: none;
  gap: 0.8rem;
  padding: 1.2rem;
}

.no-display {
  display: none;
} */

/* ////////////////////////// */
/* SYSTEMATIC FLOW STYLE */
/* ////////////////////////// */
/* 
.img-list {
  color: #f7f7f7;
  width: 6.8rem;
  height: 52rem;
  border-radius: 5rem;
  transition: all 0.3s;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.current-img {
  width: 80rem;
  border-radius: 3.2rem;
}

.img-list:nth-child(1) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('images/bridge-image.jpg');
  background-size: cover;
  background-position: center;
}

.img-list:nth-child(2) {
  background-image: url('images/city-with-lighting.jpg');
}

.img-list:nth-child(3) {
  background-image: url('images/metal-bridge.jpg');
}

.img-list:nth-child(4) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('images/statue-on-tower.jpg');
}

.img-list:nth-child(5) {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('images/tall-building.jpg');
}

.dots {
  gap: 1.4rem;
}

.dot-list {
  background-color: #949494;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.current-dot {
  width: 1.8rem;
  border-radius: 0.4rem;
  background-color: #1b1919;
}

.flag-logo {
  width: 4.2rem;
  grid-row: 1/3;
  grid-column: 1/2;
  justify-self: stretch;
  align-self: center;
}

.flag-and-info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  gap: 0.3rem;
  padding: 0.5rem;
  transition: all 0.3s;
}

.head-text {
  font-size: 1.8rem;
  color: #c6c6c6;
}

.more {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.8rem;
  color: #adadad;
} */
