/* ////////////////////////////////// */
/* SMALLER LAPTOP (700px) */
/* ////////////////////////////////// */
@media (max-width: 43.75em) {
  html {
    font-size: 56.25%;
  }

  .section--chatbot {
    padding: 0 2.4rem;
  }
}

/* ////////////////////////////////// */
/* SMARTPHONE (472px) */
/* ////////////////////////////////// */
@media (max-width: 29.5em) {
  .section--chatbot {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
  }

  .container {
    margin-top: 0;
    max-width: 90rem;
    height: 100vh;
    /* position: absolute;
    bottom: 0;
    right: 0; */
  }

  .inner-container {
    border-radius: 0;
  }

  .conversations {
    height: 85vh;
  }

  .btn--close {
    position: absolute;
    top: 0.3rem;
    right: 1.2rem;
  }
}
