* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body,
.section--partnership,
.partnership {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  background-color: #f7f7f7;
}

.section--partnership {
  margin: 10rem auto;
  flex-direction: column;
  gap: 4rem;
}

.partnership {
  gap: 3rem;
}

.partnership--1 {
}

.partnership-logo {
  height: 3rem;
  color: #f7f7f7;
}

.partnership--2 {
}
