/* ////////////////////////////////// */
/* SMALLER LAPTOP (1304px) */
/* ////////////////////////////////// */
@media (max-width: 81.5em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (1040px) */
/* ////////////////////////////////// */
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }
}

/* ////////////////////////////////// */
/* POTTRAIT TABLETS (680px) */
/* ////////////////////////////////// */
@media (max-width: 42.5em) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .container div:nth-child(4) {
    background-image: url('imgs/car12.jpg');
    grid-column: 1/4;
    grid-row: 4/6;
  }
}
