/* ////////////////////////////////// */
/* SMALLER LAPTOP (1032px) */
/* ////////////////////////////////// */
@media (max-width: 64.5em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (864px) */
/* ////////////////////////////////// */
@media (max-width: 54em) {
  html {
    font-size: 50%;
  }
}

/* ////////////////////////////////// */
/* SMARTPHONE (432px) */
/* ////////////////////////////////// */
@media (max-width: 27em) {
  .section--dictionary {
    justify-content: start;
  }

  .word-search button {
    padding: 0.8rem 1.2rem;
  }

  .word-search input {
    font-size: 1.4rem;
  }
}
