@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

input:focus {
  outline: none;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #dedede;
}

.section--signInForm {
  padding: 0 1.8rem;
}

.container {
  margin: 2.4rem auto;
  gap: 1.2rem;
  padding: 1.2rem;
  max-width: 112rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  background-color: #f7f7f7;
  border-bottom-right-radius: 4.8rem;
}

/* ////////////////////////////// */
/* FIRST PART */
/* ///////////////////////////// */
.form {
  padding: 3.2rem;
}

.primary-heading {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.secondary-heading {
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.supporting-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 2.4rem;
  text-align: center;
}

.form input {
  display: block;
  padding: 1.4rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  padding: 1.2rem 0;
  margin-bottom: 1.2rem;
  width: 100%;
}

input[type='password'] {
  margin-bottom: 2.4rem;
}

input::placeholder {
  color: #222;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.6rem;
  border: 1px solid #f7f7f7;
  width: 100%;
  background-color: transparent;
  margin-bottom: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.sighup {
  background-color: #111 !important;
  color: #f7f7f7;
}

.svg {
  width: 1.6rem;
}

.login {
  margin-top: 3.2rem;
  font-size: 1rem;
  color: #222;
  text-align: center;
}

/* ////////////////////////////// */
/* SECOND PART */
/* ////////////////////////////// */
.bg-pic-support {
  color: #f7f7f7;
  /* background-image: url('./imgs/small1.jpg'); */
  background-image: url('../imgs/cover_photo/poster/cc-1.jpg');
  /* background-image: url('../imgs/cover_photo/poster/cv--2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-bottom-right-radius: 2.8rem;
  border-top-left-radius: 2.8rem;
  padding: 2.8rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.bg-pic-support .secondary-heading {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
  padding: 0 12rem;
  text-align: center;
}

.pic-text {
  margin-bottom: 2.8rem;
  line-height: 1.5;
  font-size: 1.8rem;
  text-align: center;
}

.features {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.feature-btn {
  padding: 0.8rem;
  border: 1px solid #999;
  border-radius: 10rem;
}

.icon {
  margin-right: 0.8rem;
}
