* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #f7f7f7;
}
