@import url("main.css");

/* ****************** */
/* FOOTER */
/* ****************** */

.footer {
  background-color: #000;
}

.container {
  padding: 6.4rem 9.6rem;
}

.footer-heading {
  width: 76rem;
  padding: 3.6rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: #f7f7f7;
}

.visit {
  display: inline-block;
  font-size: 1.6rem;
  padding-bottom: 4.8rem;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
  text-decoration: none;
  color: #f7f7f7;
}

.visit:hover {
  border-bottom: 1px solid #f7f7f7;
}

.about-products {
  display: flex;
  gap: 22.5rem;
  padding: 2.8rem 0;
  align-items: center;
  margin-bottom: 3.6rem;
  justify-content: flex-start;
}

.company-list,
.product-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.detail:link,
.detail:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #f7f7f7;
}

.detail.top {
  color: #f7f7f7;
  font-size: 1.8rem;
  font-weight: 500;
}

.get-us {
  display: flex;
  margin-bottom: 3.6rem;
}

.media-lists {
  list-style: none;
  display: flex;
  gap: 8.4rem;
}

.language-location {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  color: #f7f7f7;
  margin-bottom: 3.6rem;
}

.get-us-icon {
  height: 1.6rem;
  width: 1.6rem;
  font-weight: 500;
}

.location,
.language {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  font-weight: 400;
}

.download-app-links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 4.8rem;
}

.download-app-logo {
  width: 14rem;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-detail {
  color: #777;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.terms-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}

.terms-detail {
  font-size: 1.2rem;
  text-decoration: none;
  color: #777;
}
