@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Bungee&family=Outfit&family=Poppins:wght@300;400;500;600;700&family=Ramabhadra&family=Roboto&family=Roboto+Condensed:wght@300&family=Sacramento&family=Secular+One&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12/ 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /98


- SPACINY SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 48 / 80 / 96 / 128

- Font weights
Default: 
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 
Small: 
Medium: 
Paragraph default: 

- Letter spacing


---02 COLORS

- Primary: 
- Tints: 


- Shades: 


- Accents:
- Grey:

--- 03 SHADOWS


--- 04 BORDER-RADIUS

--- 05 WHITESPACE


*/

/* GENERAL */
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  margin: 1em 0;
  padding: 0;
}

.hr--light {
  border-top: 1px solid rgba(204, 204, 204, 0.2);
}
