/* ////////////////////////////////// */
/* SMALLER LAPTOP (1032px) */
/* ////////////////////////////////// */
@media (max-width: 64.5em) {
  html {
    font-size: 56.25%;
  }

  .product-text {
    margin: 4.8rem 0 2.4rem 0;
  }

  .primary-text {
    margin-bottom: 1.8rem;
  }

  .form input {
    width: 100%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (784px) */
/* ////////////////////////////////// */
@media (max-width: 49em) {
  .section--checkout {
    padding: 0;
  }

  .container {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .img-holder {
    margin: 1.8rem;
  }

  .form {
    width: 100%;
  }
}

/* ////////////////////////////////// */
/* POTRAIT TABLETS (752px) */
/* ////////////////////////////////// */
@media (max-width: 47em) {
}

/* ////////////////////////////////// */
/* PHONES (544px) */
/* ////////////////////////////////// */
@media (max-width: 34em) {
}

/* ////////////////////////////////// */
/* PHONES (440px) */
/* ////////////////////////////////// */
@media (max-width: 27.5em) {
}
