* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #f7f7f7;
  background-color: #111;
  line-height: 1.2;
}

.hidden {
  display: none;
}

.section--checkout {
  background-color: #19152dde;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
  justify-content: center;
  max-width: 98rem;
  column-gap: 4.8rem;
}

.img-holder {
  text-align: center;
  padding: 2.4rem;
  transform: scale(1.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-image: linear-gradient(
      rgba(204, 204, 204, 0.8),
      rgba(204, 204, 204, 0.8)
    ),
    url('./imgs/1.png');
}

.header-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: blue;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.primary-text {
  text-transform: capitalize;
  color: #111;
}

.img {
}

.watch-img {
  width: 30rem;
}

.dots {
}

.dots-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.dot {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid blue;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.current-img {
  background-color: blue;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: blue;
  gap: 2.4rem;
  padding: 4.8rem 2.4rem;
}

.form input {
  border: 1px solid #adadad;
  padding: 0.8rem;
  background-color: transparent;
}

.form input::placeholder {
  color: #f7f7f7;
}

.form input:focus {
  outline: none;
  border: none;
}

.card-name,
.card-number,
.cardholder {
  grid-column: 1/-1;
}

.form-text {
  grid-column: 1/-1;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.checkout {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.2rem;
  width: 55%;
  grid-column: 1/-1;
}
