* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #f2f2f2;
  flex-direction: column;
}

.section--gallery {
  padding: 0 1.8rem;
}

.container {
  margin: 1.8rem auto;
  padding: 1.2rem 4.8rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8rem;
  max-width: 90rem;
}

div {
  position: relative;
}

div img {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.container div {
  width: 13rem;
  padding-bottom: 13rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(210, 83, 83);
}

.container div:nth-child(1) {
  background-image: url('imgs/car2.jpg');
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  padding-bottom: 26rem;
}

.container div:nth-child(4) {
  background-image: url('imgs/car12.jpg');
  grid-column: 5/7;
  grid-row: 1/3;
  width: 100%;
  padding-bottom: 26rem;
}

.container div:nth-child(5) {
  background-image: url('imgs/motor2.jpg');
  grid-column: 3/5;
  grid-row: 2/4;
  width: 100%;
  padding-bottom: 26rem;
}

.container div:nth-child(2) {
  background-image: url('imgs/car10.jpg');
}

.container div:nth-child(3) {
  background-image: url('imgs/motor4.jpg');
}

.container div:nth-child(6) {
  background-image: url('imgs/car15.jpg');
}

.container div:nth-child(7) {
  background-image: url('imgs/car4.jpg');
}

.container div:nth-child(8) {
  background-image: url('imgs/car7.jpg');
}

.container div:nth-child(9) {
  background-image: url('imgs/car13.jpg');
}
