* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body,
.header,
.section--sidebar-nav,
.nav-tools-list,
.nav-tools-details,
.detail,
.theme-slider,
.theme,
.nav.nav--thin-light .user-profile,
.header-logo,
.nav.nav--thin-light {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.site {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.hr {
  display: block;
  border: none;

  border-top: 0.5px solid #02081e67;
  margin-bottom: 1.6rem;
  margin: 0 0.8rem 0.8rem 0.8rem;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #dedede;
  flex-direction: column;
  position: relative;
}

.section--sidebar-nav {
  margin: 3.2rem auto;
  gap: 3rem;
}

.nav {
  padding: 0.5rem 1.2rem 0.5rem 0.5rem;
  border-radius: 1.2rem;
  font-size: 1rem;
}

.nav.nav--large-dark {
  background-color: #131725;
  color: #dedede;
}

.search-logo.dark {
  background-color: #0e111b;
}

.search-logo.light {
  background-color: #efefef;
}

.nav.nav--large-light,
.nav.nav--thin-light {
  background-color: #f7f7f7;
  color: #333;
}

.space-bars {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 0.1rem 0.5rem;
}

.space {
  background-color: #339933;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.space.app-space:nth-child(1) {
  background-color: #ff3333;
}

.space.app-space:nth-child(2) {
  background-color: #ffff00;
}

.header {
  justify-content: stretch;
  gap: 0.8rem;
  margin-bottom: 1.4rem;
  margin-left: 0.5rem;
}

.search-space {
  position: relative;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.search-logo {
  padding: 0.8rem;
  border: none;
  padding-left: 3.2rem;
  border-radius: 0.5rem;
  max-width: 18rem;
}

.search-space .tool-icon {
  position: absolute;
  top: 20%;
  left: 1rem;
}

.header-logo {
  height: 2.6rem;
}

.header-name {
  font-size: 1.8rem;
  font-weight: 500;
}

.tool-icon {
  font-size: 1.6rem;
}

.nav-tools-list {
  list-style-type: none;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.intro-text {
  margin-left: 0.3rem;
  margin-bottom: 0.8rem;
}

.nav-tools-details {
  align-items: stretch;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  border-radius: 0.8rem;
  margin-left: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-tools-details:hover {
  background-color: #5f6472;
}

.nav--large-light .nav-tools-details:hover,
.nav--thin-light .nav-tools-details:hover {
  background-color: #e8e8e8;
}

.nav--large-light .theme-slider,
.nav--thin-light .theme-slider {
  background-color: #e8e8e8;
}

.nav.nav--thin-light .theme-slider {
  flex-direction: column;
}

.nav--large-light .dark-theme,
.nav--thin-light .dark-theme {
  background-color: transparent;
  color: #999;
}

.nav--large-light .light-theme,
.nav--thin-light .light-theme {
  background-color: #f7f7f7;
}

.nav-list--customization .nav-tools-details {
  align-items: center;
  justify-content: stretch;
  gap: 1rem;
}

.detail {
  gap: 1rem;
}

.group-space--green {
  background-color: #339933;
}

.group-space--blue {
  background-color: #092994;
}

.group-space--yellow {
  background-color: #ffff00;
}

.activity-notifications {
  background-color: #ff4d4d;

  color: #f7f7f7;
  padding: 0.3rem 0.8rem;
  border-radius: 3rem;
}

.theme-slider {
  padding: 0.3rem;
  border-radius: 1rem;
  gap: 0.5rem;
  margin: auto 0.5rem 1rem 0.5rem;
}

.theme {
  gap: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

button {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav--large-dark .theme-slider {
  background-color: #0e111b;
}

.nav--large-dark .dark-theme {
  background-color: #333;
  color: #fff;
}

.nav--large-dark .light-theme {
  background-color: transparent;
  color: #adadad;
}

.user-profile {
  display: grid;
  grid-template-columns: 3.5rem 1fr 3rem;
  column-gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  height: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.username {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.email {
  font-size: 1rem;
}

.logout {
  margin-left: 1rem;
}

/* SMALLEST PART */
.nav.nav--thin-light .search-space .tool-icon {
  position: relative;
}

.nav.nav--thin-light .hr {
  border-top: 1px solid transparent;
}

.nav.nav--thin-light .intro-text--group,
.nav.nav--thin-light .intro-text--name {
  color: transparent;
}

.header-logo {
  font-size: 2rem;
  font-weight: 700;
  background-color: rgb(46, 84, 220);
  color: #f7f7f7;
  padding: 1.4rem 0.8rem;
  border-radius: 0.5rem;
}

.nav.nav--thin-light {
  flex-direction: column;
  gap: 0.5rem;
}

.nav.nav--thin-light .nav-list--groups {
  gap: 0.8rem;
}

.nav.nav--thin-light .search-space .tool-icon {
  margin-right: 2rem;
  padding: 0.5rem;
}

.nav.nav--thin-light .search-space:hover {
  border-radius: 0.5rem;
  background-color: #e8e8e8;
}

/* Small red notification "" thin-lignt "" */
.nav.nav--thin-light .notice-thin {
  position: relative;
}

.nav.nav--thin-light .notice-thin::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: -1px;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #ff4d4d;
  border-radius: 50%;
  border: 1.5px solid #f7f7f7;
}

.thin--parent {
  position: relative;
}
.thin--child {
  position: absolute;
  right: -10rem;
  background-color: rgb(32, 28, 28);
  color: #f7f7f7;
  display: none;
}
