* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  color: #f7f7f7;
  line-height: 1;
  background-color: #666;
}

.hidden {
  display: none;
}

/* ////////////////////////// */
/* HEADER */
/* ////////////////////////// */

.header {
  padding: 0 9.8rem;
  height: 12rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.2rem;
}

.logo:link,
.logo:visited,
.nav-list a:link,
.nav-list a:visited {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.8rem;
  font-weight: 300;
}

.nav-list a:hover,
.nav-list a:active {
  color: #949494;
}

.logo:link,
.logo:visited {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
}

.parent-header-hover {
  position: relative;
}

.nav-hover-detail {
  position: absolute;
  top: 4.2rem;
  left: -2.4rem;
  background-color: #000;
  padding: 3.2rem 2.8rem;
  width: 18rem;
}

.nav-hover-detail ul {
  flex-direction: column;
  gap: 1.8rem;
  align-items: flex-start;
}

.nav-hover-detail .grid-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-hover-detail.grid {
  width: 54rem;
  position: absolute;
  left: -18rem;
}

/* 
.padding--horizontal {
  padding: 6.1rem 0;
  display: inline-block;
}

.section--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.logo span {
  text-transform: lowercase;
}

.nav-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.8rem;
}

.nav-list a:link,
.nav-list a:visited {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.8rem;
  font-weight: 300;
}

.nav-list a:hover,
.nav-list a:active {
  color: #949494;
}

.parent-header-hover {
  position: relative;
}

.child-header-hover {
  position: absolute;
  top: 12rem;
  left: -2rem;
  background-color: #111;
}

.child-header-hover .nav-detail {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  transition: all 0.3s;
}

.child-header-hover .nav-detail hr {
  font-size: 3.8rem;
  border: 1.4px solid #949494;
  width: 2rem;
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
}

.sec-link-hover {
  opacity: 1 !important;
  pointer-events: auto !important;
  visibility: visible !important;
  transform: translateX(0) !important;
  display: inline-block !important;
}

.child-header-hover ul {
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 3.2rem;
  width: 17rem;
}

.child-header-hover a {
  font-size: 1.8rem !important;
  white-space: nowrap;
}

.child-header-hover.flex--2 {
  left: -3.2rem;
}

.child-header-hover.grid {
  left: -24rem;
}

.child-header-hover .grid-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 52rem;
} */

/* //////////////////////////// */
/* SECTION HERO */
/* //////////////////////////// */

.section-hero {
  margin: 0 auto;
  padding: 4.8rem;
}

.hero {
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-header {
  font-size: 12.2rem;
  padding: 0 10rem;
  margin-top: 8.8rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 5.2rem;
}

.section-hero ul {
  display: flex;
  gap: 3.8rem;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 4.2rem;
}

.section-hero li:first-child {
  list-style: none;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 2rem 15rem;
  border-radius: 10rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #f7f7f7;
  color: #111;
}
