* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */
body {
  font-size: 1.8rem;
  color: #f7f7f7;
  line-height: 1;
  background-color: #111;
}

/* ////////////////////////// */
/* HEADER */
/* ////////////////////////// */
.header {
  padding: 0 9.8rem;
  /* background-color: rgb(48, 134, 37); */
  margin: 0 auto;
}

.section--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.4rem;
}

.logo {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.logo span {
  text-transform: lowercase;
}

.nav-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.2rem;
}

.nav-list a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 2.2rem;
  font-weight: 300;
}

/* //////////////////////////// */
/* SECTION HERO */
/* //////////////////////////// */
.section-hero {
  margin: 0 auto;
  padding: 4.8rem;
}

.hero {
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-header {
  font-size: 11.2rem;
  padding: 0 10rem;
  margin-top: 13.8rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.section-hero ul {
  display: flex;
  gap: 3.8rem;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 2.8rem;
}

.section-hero li:first-child {
  list-style: none;
}

.btn {
  text-decoration: none;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 2rem 15rem;
  border-radius: 100rem;
}
