* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */
body {
  font-size: 1.8rem;
  color: #f7f7f7;
  line-height: 1;
  background-color: #666;
  position: relative;
}

.hidden {
  display: none;
}

/* ////////////////////////// */
/* HEADER */
/* ////////////////////////// */
.header {
  padding: 0 9.8rem;
  height: 12rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.2rem;
}

.logo:link,
.logo:visited,
.nav-list a:link,
.nav-list a:visited {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 1.8rem;
  font-weight: 300;
}

.nav-list a:hover,
.nav-list a:active {
  color: #949494;
}

.logo:link,
.logo:visited {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
}

.parent-header-hover {
  position: relative;
  /* padding-bottom: 4.2rem; */
}

.nav-hover-detail {
  position: absolute;
  /* top: 4.2rem; */
  left: -2.4rem;
  background-color: #000;
  padding: 3.2rem 2.8rem;
  width: 18rem;
}

.nav-hover-detail ul {
  flex-direction: column;
  gap: 1.8rem;
  align-items: flex-start;
}

.nav-hover-detail .grid-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.2rem;
}

.nav-hover-detail.grid {
  width: 56rem;
  position: absolute;
  left: -18rem;
}

.dash {
  display: inline-block;
  width: 2.4rem;
  margin-right: 1.2rem;
  padding-bottom: 0.28rem;
  background-color: #949494;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

.inner-list .dash {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.nav-detail {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-cart {
  color: #f7f7f7;
}

/* //////////////////////////// */
/* SECTION HERO */
/* //////////////////////////// */
.section-hero {
  padding: 4.8rem;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  width: 100%;
  height: auto;
}

.hero {
  max-width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-header {
  font-size: 12.2rem;
  padding: 0 1.8rem;
  margin-top: 8.4rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 5.2rem;
}

.section-hero ul {
  display: flex;
  gap: 3.8rem;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 4.2rem;
}

.section-hero li:first-child {
  list-style: none;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 2rem 15rem;
  border-radius: 10rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #f7f7f7;
  color: #111;
}
