/* /////////////////////// */
/* HEADER */
/* /////////////////////// */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.8rem;
  height: 7.2rem;
  /* background-color: var(--xiketic); */
  color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: #f7f7f7;
}

.home img {
  width: 4.8rem;
}

.nav {
}

.nav-list {
  gap: 2.4rem;
}

.nav-detail {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-detail:hover {
  color: var(--citrine);
}

.header-tools {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

ion-icon[name='search-outline'] {
  padding-right: 1rem;
  margin-right: 0.8rem;
  border-right: 1px solid #cecaca43;
}

ion-icon[name='globe-outline'] {
  color: var(--citrine);
}

.lang {
  margin-left: 0.4rem;
  border-radius: 0.2rem;
  border: none;
  color: #f7f7f7;
  font-weight: 500;
  background-color: transparent;
}

.lang:active {
  color: #000;
}

.btn-signin {
  margin-left: 2.8rem;
}

/* /////////////////////// */
/* SECTION HERO */
/* /////////////////////// */
.section--hero {
  background-image: url('./imgs/img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  color: #f7f7f7;
  display: flex;
  align-items: center;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 120rem;
  margin: 0 auto;
}

.highlight {
  color: var(--citrine);
}

.hero-movie-details {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 5.2rem;
}

.btn-pg {
  color: var(--eerie-black);
  background-color: var(--gray-x);
}

.time-duration {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.time-duration p {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

p ion-icon {
  color: var(--citrine);
}

.btn-watch-now {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.btn-watch-now:hover {
  color: var(--black);
  font-weight: 600;
  padding: 0.8rem 2.9rem;
}

ion-icon[name='play-outline'] {
  font-weight: 700;
}

/* /////////////////////// */
/* SECTION UPCOMING */
/* /////////////////////// */
.section-upcoming {
  color: #f7f7f7;
  background-color: #111;
}

.container {
}

.h2-intro {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--citrine);
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.secondary-text {
  font-size: 3.2rem;
  margin-bottom: 3.6rem;
}

.upcoming--btns {
  align-self: end;
  justify-self: end;
}

.btn--big.btn-up {
  font-size: 1.2rem;
  padding: 0.8rem 1.8rem;
  text-transform: capitalize;
  border: 1px solid var(--gray-x);
}

.btn--big.btn-up:not(:last-child) {
  margin-right: 1.4rem;
}

.btn--big.btn-up:hover {
  border: 1px solid var(--citrine);
  background-color: transparent;
}

.inner-container {
}

.upcoming--movie {
  column-gap: 1.8rem;
  row-gap: 1.8rem;
}

.img-holder {
}

.upcoming-details {
}

.tetiary-text--1 {
}

.release-year {
}

.btn-video-quality {
}

.duration-rating {
}

.upcoming-duration {
}

.time-outline {
}

.duration-time {
}

.upcoming-duration {
}

ion-icon[name='star-outline'] {
}

.upcoming-rating {
}

img {
  width: 30rem;
}

.payment-detail {
  width: 10rem;
}

.payment-detail img {
  width: 100%;
}
