* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  color: #000;
  background-color: #f2f2f2;
  line-height: 1;
}

.container {
  color: #dedede;
}

.grid {
  display: grid;
}

.grid--container-6 {
  grid-template-columns: repeat(6, 1fr);
}

.hidden {
  display: none;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */

.section--steps {
  margin: 6.4rem auto;
  max-width: 100vw;
}

.article {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem 2.4rem 2.4rem 2.4rem;
  color: #dedede;
  min-height: 82vh;
}

.article:first-child {
  width: 50vw;
}

.article:not(:last-child) {
  border-right: 1px solid #dedede;
}

.number {
}

.article-title {
  font-size: 4.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.8rem;
}

.icon {
}

.article-content {
}

.article-content p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.article-content ul {
  margin-left: 2.4rem;
}

.article-content li {
  line-height: 1.6;
}
