* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  color: #000;
  background-color: #f2f2f2;
}

.container {
}

.grid {
  display: grid;
}

.grid--container-6 {
  grid-template-columns: repeat(6, 1fr);
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */

.container div {
  /* padding: 5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container div:nth-child(1) {
  padding: 5rem;
  display: flex;
  width: 175%;
}

.container div:not(:last-child) {
  /* padding: 5rem; */
  border-right: 0.5px solid #dedede;
}

.section--steps {
  margin: 0 auto;
  margin-top: 10rem;
  background-color: blue;
}
