/* /////////////////////////////// */
/* HEADER  */
/* /////////////////////////////// */

/* REUSABLE CODE */
.header,
.header-help,
.nav-list,
.nav-detail,
.language,
.btns .btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* GENERAL CODE */
.header {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 5.8rem;
  color: #f7f7f7;
  background-color: #000;
  gap: 2.8rem;
  --ionicon-stroke-width: 4.8rem;
}

.business-home,
.btn {
  text-decoration: none;
  color: #f7f7f7;
}

.business-home {
  font-size: 2.2rem;
  line-height: 1;
  letter-spacing: -0.2rem;
}

.header-help,
.nav-list {
  list-style-type: none;
  justify-content: space-between;
  gap: 0.8rem;
}

.nav-detail:hover,
.language:hover,
.btn--contact:hover {
  background-color: #333;
}

.header-help {
  margin-left: auto;
}

.language {
  text-transform: uppercase;
}

.btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.header .btn {
  padding: 0.8rem 1.2rem;
}

.btn--signup {
  background-color: #f7f7f7;
  color: #000;
}

.btn--login:hover {
  background-color: #444;
}

.btn--signup:hover {
  background-color: #dedede;
}
/* /////////////////////////////// */
/* HERO SECTION  */
/* /////////////////////////////// */

.section--hero {
  background-image: url("https://www.uber-assets.com/image/upload/v1666387083/assets/52/9959e6-1e35-4238-ba84-ee63bf80e2a6/original/Hero_Image_Desktop_1280x450_2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 74vh;
  color: #f7f7f7;
}

.hero {
  margin: 0 auto;
  max-width: 118rem;
  grid-template-columns: 1fr 1.5fr;
  padding: 6.8rem 0;
  margin-bottom: 3.6rem;
}

.primary-text {
  font-size: 4.8rem;
  line-height: 1.3;
  margin-bottom: 3.2rem;
  letter-spacing: -0.1rem;
}

.primary-intro {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 4.2rem;
}

.btn--signup,
.btn--contact-sales {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.2rem 1.8rem;
  border-radius: 0.8rem;
}

.header .btn--signup {
  border-radius: 10rem;
}

/* SECTION HERO ---> CONTAINER */
.section--hero {
  position: relative;
}

.section--hero .container {
  color: #000;
  font-size: 1.4rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.inner-container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.8rem;
  padding: 4.8rem;
  background-color: #fff;
  width: 100%;
}

.section--hero .inner-container {
  box-shadow: 0 0 1.2rem 1.2rem rgba(0, 0, 0, 0.113);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}

.inner-container.hidden {
  display: none;
}

.industrial-team .first-part,
.part--1 {
  column-gap: 2.8rem;
}

.inner-container.how-works {
  grid-template-columns: 1fr 2fr;
  max-width: 110rem;
  margin: 0 auto;
  height: 100vh;
}

.how-works .second-part .secondary-text {
  padding: 0;
  height: 4.8rem;
}

.how-works ion-icon {
  font-size: 2.8rem;
}

.secondary-text {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 1.8rem;
  font-size: 2.4rem;
  margin-bottom: 4.2rem;
}

.inner-container .secondary-text {
  margin-bottom: 4.8rem;
  position: relative;
}

.inner-container .secondary-text::before,
.inner-container .secondary-text::after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  height: 1px;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.239);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.inner-container .secondary-text::before {
  width: 0%;
}

.inner-container div:hover .secondary-text::before {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.section--hero ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.4rem;
}

.section--hero .container a:link,
.section--hero .container a:visited {
  text-decoration: none;
  color: #111;
}

.section--hero .container a:hover,
.section--hero .container a:active {
  text-decoration: none;
  color: #555;
}

.tertiary--1 {
  margin-bottom: 1.8rem;
  font-weight: 600;
}

.description {
  line-height: 1.3;
}

.how-works .second-part {
  column-gap: 2.8rem;
}

/* ///////////////////////////////// */
/* SECTION BUSINESS MEALS */
/* ///////////////////////////////// */
.section {
  padding: 0 1.8rem;
  margin: 8.4rem 0;
}

.section .container {
  max-width: 114rem;
  margin: 0 auto;
}

.secondary-text {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: #222;
  line-height: 1.3;
}

.h2-intro {
  color: #333;
  margin-bottom: 4.8rem;
  font-weight: 400;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-bottom: 5px solid rgba(153, 153, 153, 0.419);
  margin-bottom: 3.2rem;
}

.tertiary--2 {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0 1rem;
  padding-bottom: 1.2rem;
  transform: translateY(0.56rem);
  border-bottom: 5px solid transparent;
  cursor: pointer;
}

.tertiary--2.active-card {
  border-bottom: 5px solid #000;
}

.cards {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.8rem;
}

.inner-card {
  gap: 4.2rem;
}

.cards.hidden {
  display: none;
}

.section--business-meals .container {
  padding: 3.6rem 0;
}

.section--business-meals .card {
  color: #222;
  max-width: 50rem;
}

.img-holder {
  margin-bottom: 1rem;
}

.img-holder img {
  height: 100%;
  width: 100%;
}

.card-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.more-text {
  font-size: 1.5rem;
  color: #333;
}

.section--business-meals a:link,
.section--business-meals a:visited,
.section--resources a:link,
.section--resources a:visited,
.section--explore-resources a:link,
.section--explore-resources a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(153, 153, 153, 0.8);
}

.card-numbering {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1.8rem;
  align-self: flex-end;
}

.card-numbering ion-icon {
  padding: 1.4rem;
  background-color: #dedede;
  border-radius: 50%;
  --ionicon-stroke-width: 40.8rem;
}

ion-icon[name="chevron-forward-outline"] {
  margin-left: -1rem;
  color: #999;
}

/* ///////////////////////////////// */
/* SECTION MEAL OPTIONS */
/* ///////////////////////////////// */
.section--meal-options .secondary-text {
  max-width: 84rem;
  letter-spacing: -0.1rem;
}

.section--meal-options .h2-intro {
  max-width: 84rem;
  color: #444;
}

.meal-cards .inner-card {
  gap: 4.2rem;
  justify-content: center;
}

.meal-cards .card {
  border: 1px solid rgba(153, 153, 153, 0.274);
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.2rem;
  padding: 1.8rem;
  cursor: pointer;
  width: 100%;
}

.section--meal-options .img-holder {
  max-width: 20rem;
}

.meal-cards .card-text {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-bottom: 0;
}

.meal-cards .more-text {
  font-size: 1.4rem;
}

.section--meal-options ion-icon {
  font-size: 2.4rem;
  transition: all 0.3s;
}

.meal-cards .card:hover ion-icon {
  transform: translateX(0.8rem);
}

/* ///////////////////////////////// */
/* SECTION EXPERIENCE */
/* ///////////////////////////////// */
.section--experience {
  background-color: rgba(222, 222, 222, 0.42);
}

.section--experience .container {
  padding: 8.4rem 0;
}

.section--experience .secondary-text {
  max-width: 84rem;
  letter-spacing: -0.1;
  margin-bottom: 3.2rem;
}

.section--experience .card-header {
  margin-bottom: 1.8rem;
}

.section--experience .cards {
  color: #444;
}

.section--experience ion-icon {
  font-size: 2.8rem;
  color: #000;
  margin-bottom: 1rem;
}

.section--experience .more-text {
  font-size: 1.5rem;
}

/* ///////////////////////////////// */
/* SECTION WHY UBER */
/* ///////////////////////////////// */
.section--why-uber .secondary-text {
  max-width: 84rem;
  letter-spacing: -0.1;
  margin-bottom: 3.2rem;
  color: #444;
}

.section--why-uber .why-uber-cards {
  padding: 0;
}

.section--why-uber .inner-card {
  column-gap: 4.2rem;
  row-gap: 8.4rem;
}

.section--why-uber .img-holder {
  max-width: 4.8rem;
}

.section--why-uber .card-text {
  color: #333;
}

.section--why-uber .more-text {
  color: #444;
  font-size: 1.5rem;
}

.section--why-uber a:link,
.section--why-uber a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

/* ///////////////////////////////// */
/* SECTION CTA*/
/* ///////////////////////////////// */
.section-cta {
  background-color: #000;
}

.section-cta .container {
  padding: 6.8rem 0;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-cta .secondary-text {
  color: #f7f7f7;
  max-width: 84rem;
  letter-spacing: -0.1rem;
  margin-bottom: 3.2rem;
}

.btn--contact-sales {
  background-color: #dedede2e;
}

.btn--contact-sales:hover {
  background-color: #dedede79;
}

/* ///////////////////////////////// */
/* SECTION RESOURCES*/
/* ///////////////////////////////// */
.section--resources .container {
  max-width: 118rem;
  margin: 0 auto;
}

.section--resources .inner-card {
  grid-template-columns: 2fr 1.5fr;
}

.section--resources .secondary-text {
  color: #333;
}

.section--resources .h2-intro {
  color: #444;
}

/* ///////////////////////////////// */
/* SECTION RESOURCES*/
/* ///////////////////////////////// */
.section--explore-resources .card-text {
  color: #222;
  font-size: 1.6rem;
}

.section--explore-resources .more-text {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 3.2rem;
}

/* ///////////////////////////////// */
/* SECTION FAQ*/
/* ///////////////////////////////// */
.section--faq {
  font-size: 1.6rem;
}

.section--faq .secondary-text {
  font-size: 3.4rem;
  letter-spacing: -0.1;
  max-width: 84rem;
  margin-bottom: 3.2rem;
}

.section--faq ul {
  list-style-type: none;
}

.questions {
  padding: 0 2.4rem;
}

.questions li {
  transition: all 0.3s;
}

.section--faq li {
  cursor: pointer;
  border-bottom: 1px solid rgba(153, 153, 153, 0.28);
}

.quiz {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tertiary-text--4 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1.2rem 0;
  color: #222;
}

.ans {
  transform-origin: top;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: transform 0.3s ease-out, max-height 0.3s ease-out,
    opacity 0.3s ease-out;
}

.ans.visible {
  max-height: 300rem;
  opacity: 1;
  transform: scaleY(1);
}

.ans p {
  padding: 2.8rem 0;
  color: #333;
}

.ans ul {
  padding: 1.8rem 0;
}

.ans .inner-list {
  padding: 2.8rem;
  margin-top: -5.2rem;
  list-style: disc;
  font-size: 1.5rem;
}

.inner-list strong {
  font-weight: 500;
}

.inner-list li {
  border-bottom: 1px solid transparent;
}

.section--faq ion-icon {
  transition: all 0.3s;
}

.section--faq a:link,
.section--faq a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}
