* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  color: #000;
  font-size: 1.6rem;
}

.grid {
  display: grid;
}

.hover-effect {
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}


/* GENERAL */
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  margin: 1em 0;
  padding: 0;
}

.hr--light {
  border-top: 1px solid rgba(204, 204, 204, 0.2);
}

.hidden {
  display: none;
}

.grid-template--1 {
  grid-template-columns: 1fr;
}

.grid-template--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-template--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-template--4 {
  grid-template-columns: repeat(4, 1fr);
}
