* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */
body {
  font-size: 1.8rem;
  color: #f7f7f7;
  line-height: 1;
  background-color: #111;
}

.section--form {
  margin: 0 auto;
  padding: 0 1.2rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.background-photo {
  background-image: url('imgs/jusfilm.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.article {
  background-color: #effe62;
  padding: 9.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  background-color: #f7f7f7;
  color: #000;
  padding: 3.6rem 2.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 0.8rem;
  column-gap: 2rem;
  line-height: 1.12;
}

.form-head {
  font-size: 4.2rem;
  margin-bottom: 2.4rem;
  grid-column: 1/-1;
}

form .contain:nth-child(2),
form .contain:nth-child(3),
form .contain:nth-child(4) {
  grid-column: 1/-1;
}

.container label {
  display: block;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container label[for='reason'] {
  margin: 0;
}

.container input,
.container select {
  padding: 0.8rem;
  background-color: #dedede;
  border: none;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.container .btn {
  padding: 1.4rem 2rem;
  border: none;
  border: 1px solid #555;
  align-self: center;
  width: 65%;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 2rem;
  display: center;
  justify-content: center;
}

@media (max-width: 74em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  form .contain:nth-child(5),
  form .contain:nth-child(6),
  form .contain:nth-child(7),
  form .contain:nth-child(8) {
    grid-column: 1/-1;
  }

  .article {
    padding: 4.9rem;
  }
}

@media (max-width: 45em) {
  .article {
    padding: 0;
  }

  .container form {
    row-gap: 0.8rem;
  }
}

@media (max-width: 35em) {
  .section--form {
    padding: 0;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .background-photo {
    width: 100%;
    padding-bottom: 100%;
  }
}
