* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */
body,
.container {
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #f7f7f7;
}

.container {
  margin: 10rem auto;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 2.4rem;
  gap: 4rem;
}

.icon {
  font-size: 2.4rem;
  padding: 1.2rem;
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  background-color: #add8e6;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
.flx {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ////////////////////////// */
/* SYSTEMATIC FLOW STYLE */
/* ////////////////////////// */
.pagination {
  /* background-color: rgb(92, 181, 148); */
  margin-bottom: 10rem;
  padding: 1.2rem;
  gap: 2.4rem;
}

.pages-list {
  list-style-type: none;
  gap: 0.5rem;
}

.dots-detail,
.page-detail {
  text-decoration: none;
  color: #111;
  padding: 1rem;
}

.page-detail:link,
.page-detail:visited {
  border-radius: 50%;
  width: 4.6rem;
  transition: all 0.3s;
}

.page-detail:hover,
.page-detail:active {
  background-color: #d6ecf3;
}

.current-page {
}

.pagination-helpers {
  padding: 1.2rem;
  align-self: stretch;
  justify-content: space-between;
}

.btn {
  max-width: 7.4rem;
  font-size: 2.4rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.dots-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.8rem;

  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
}

.dots-list::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.btn:focus {
  outline: none;
}

.helper-details {
  font-size: 1.8rem;
}
