/* ////////////////////////////////// */
/* SMALLER LAPTOP (1146px) */
/* ////////////////////////////////// */
@media (max-width: 74em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (992px) */
/* ////////////////////////////////// */
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }
}

/* ////////////////////////////////// */
/* PORTRAIT TABLETS (770px) */
/* ////////////////////////////////// */
@media (max-width: 48em) {
  html {
    font-size: 43%;
  }
}

/* ////////////////////////////////// */
/* PORTRAIT TABLETS (560px) */
/* ////////////////////////////////// */
@media (max-width: 35em) {
  html {
    font-size: 37.5%;
  }
}
