* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(0, 0, 0, 0.95);
  color: #f7f7f7;

  padding: 1rem 1rem 1rem 0;
  font-size: 1.8rem;
  overflow: hidden;
  touch-action: none;
}

.header,
.container {
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  margin-bottom: 1rem;
}

.btn,
.labels-list {
  display: flex;
  justify-content: center;
}

.mail-tools-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-right: 1.5rem;
  font-size: 2.8rem;
}

.btn {
  align-items: center;
  font-size: 1.8rem;
  padding: 1.8rem 1.8rem;
  margin-bottom: 1.2rem;
  gap: 1.8rem;
  color: #555;
  border: none;
  border-radius: 1.5rem;
}

.search-mail-text,
.input-key,
.gmail-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.gmail-logo {
  justify-content: flex-start;
  padding-left: 2rem;
  gap: 1rem;
}

.input-key {
  gap: 0.8rem;
}

.svg-icon.gmail-icon {
  width: 4rem;
  height: 4rem;
}

.svg-icon.menu {
  height: 1.8rem;
  width: 2.8rem;
}

.mail-search {
  padding: 1.2rem 2.4rem;
  width: 71.5rem;

  border-radius: 1rem;
  border: none;

  background-color: #444;
  color: #e1dcdc;
}

.gmail-text {
  font-size: 1.6rem;
}

.search-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-compose {
  margin: 0.5rem 0 1rem 1rem;
}

.mail-labels {
  padding: 0.1rem 0.1rem 0.1rem 0;
}

.labels-list {
  list-style-type: none;
  flex-direction: column;

  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.labels-list .label-list-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 24rem;
  padding: 0.8rem 0.8rem 0.8rem 2.2rem;
  border-radius: 0 10rem 10rem 0;
}

.labels-list .label-list-detail:hover {
  background-color: rgba(51, 51, 51, 0.95);
}

.labels-list .label-list-detail.active {
  background-color: #444;
}

.add-labels {
  margin-left: 3rem;
  justify-content: space-between;

  width: 20rem;
}

.mail-container {
  background-color: rgba(34, 34, 34, 0.35);
  border-radius: 1.6rem;
  /* overflow: auto; */

  overflow-x: auto;
  overflow-y: scroll;
}

.mail-container-top,
.mail-type {
  display: flex;
  justify-content: space-between;
}

.top-part,
.top-part-detail {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.mail-container-top {
  align-items: center;
  padding: 1.2rem;
  border-radius: 1.6rem 1.6rem 0 0;
  background-color: rgba(51, 51, 51, 0.95);
}

.mail-type {
  background-color: rgba(51, 51, 51, 0.95);
}

.mail-type-list {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mail-type-list .list-detail:hover {
  background-color: #444;
}

.list-detail {
  width: 23rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.8rem 1.2rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.labels-list {
  display: flex;
  align-items: flex-start;
}

.label-list-detail,
.add-labels {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.list-detail {
  gap: 1.8rem;
}

.mails-list,
.holder {
  list-style-type: none;
  padding-right: 1.2rem;
  font-size: 1.6rem;
  color: rgba(225, 220, 220, 0.75);
}

.mails-list {
  /* overflow: scroll; */
}

.holder {
  display: grid;
  grid-template-columns: 24rem 1fr 3rem;
}

.holder-detail {
  padding: 0.5rem;
}

.hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  padding: 0;
}

.svg-icon {
  width: 1.8rem;
  height: 1.8rem;

  fill: #f7f7f7;
  stroke: #f7f7f7;
}

.top-part {
  font-size: 1rem;
}

.down-tri {
  gap: 0;
}

.triangle {
  width: 1.2rem;
}

.svg-icon.keyboard {
  width: 2.6rem;
  height: 2.6rem;
}

.svg-icon.important,
.svg-icon.starred,
.svg-icon.chat,
.svg-icon.draft,
.svg-icon.down-arrow {
  width: 1.6rem;
}

.sender-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  padding-left: 1.2rem;
}
