* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(0, 0, 0, 0.95);
  color: #f7f7f7;

  padding: 1rem;
  font-size: 1.8rem;
}

.header,
.container {
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.gmail-logo {
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  margin-bottom: 1rem;
}

.btn,
.labels-list {
  display: flex;
  justify-content: center;
}

.mail-tools-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-right: 1.5rem;
  font-size: 2.8rem;
}

.tools-detail {
}

.btn {
  align-items: center;
  font-size: 1.8rem;
  padding: 1.8rem 1.8rem;
  margin-bottom: 1.2rem;
  gap: 1.8rem;
  color: #555;
  border: none;
  border-radius: 1.5rem;
}

.search-area {
}

.search-mail-text,
.input-key,
.gmail-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.mail-search {
  padding: 1.2rem 2.4rem;
  width: 71.5rem;

  border-radius: 1rem;
  border: none;

  background-color: #444;
  color: #e1dcdc;
}

.gmail-text {
  font-size: 1.6rem;
}

.search-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail-tools {
}

.container {
}

.mail-labels {
  padding: 0.1rem;
}

.labels-list {
  list-style-type: none;
  flex-direction: column;

  gap: 0.3rem;
  margin-left: 2rem;
  margin-bottom: 1.2rem;
}

.label-list-detail {
}

.add-labels {
}

.mail-container-head {
  background-color: rgba(51, 51, 51, 0.95);
  padding: 1rem;
  border-radius: 1.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.mail-container {
  background-color: rgba(34, 34, 34, 0.35);
  border-radius: 1.6rem;
}

.mail-container-top,
.mail-type {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.top-part,
.top-part-detail {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.top-part-detail {
}

.mail-container-top {
  /* margin-bottom: 4.2rem; */
  padding: 1.2rem;
}

.mail-type {
}

.mail-type-list {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-detail {
  width: 24rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.8rem 1.2rem;
}

.labels-list {
  display: flex;
  align-items: flex-start;
}

.label-list-detail,
.add-labels {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.list-detail {
  gap: 1.8rem;
}

.mails-list,
.holder {
  list-style-type: none;
  padding: 0 1.2rem;
}

.mail-detail {
}

.holder {
  display: grid;
  grid-template-columns: 24rem 1fr 3rem;
  /* column-gap: ; */
}

.holder-detail {
  padding: 0.5rem;
}

.hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  padding: 0;
}

.svg-icon {
  width: 2.4rem;
  /* color: #f7f7f7cd !important; */
  /* fill: #f7f7f7 !important; */
  /* stroke: #f7f7f7 !important; */
  /* background-color: transparent; */

  fill: red;
  -webkit-fill: red;
  stroke: blue;
  -webkit-stroke: blue;
}

.svg-icon svg {
  fill: red;
  -webkit-fill: red;
  stroke: blue;
  -webkit-stroke: blue;
}

.top-part {
  font-size: 1rem;
}

.down-tri {
  gap: 0;
}

.triangle {
  width: 1.2rem !important;
}
