* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #1a1a1a;
  color: #f7f7f7;
  line-height: 1;
}

.section--calender {
  padding: 0 0.8rem;
}

.container {
  max-width: 34rem;
  margin: 5rem auto;
  border: 1px solid #888888;
  border-radius: 0.5rem;
}

.container div {
  text-align: center;
  justify-content: center;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  background-color: #3131f2;
}

.container div p:first-child {
  font-size: 1.6rem;
  color: #dedede;
}

.container div p:last-child {
  font-size: 1.7rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

nav p {
  font-size: 1.6rem;
}

.ph {
  font-size: 2.4rem;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.ph:hover,
.day-details:hover {
  background-color: #333;
}

.week-days,
.days-list {
  padding: 0 1.2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0.3rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.2rem;
}

.days-list {
  column-gap: 0.3rem;
}

.week-days {
  color: #888;
  font-size: 1.6rem;
}

.day-details {
  padding: 1.4rem;
  font-size: 1.4rem;
  border-radius: 50%;
  color: #dedede;
}

.prev-month-day,
.next-month-day {
  color: #888888;
}

.day-clicked,
.day-clicked:hover {
  box-shadow: inset 0 0 0 2px #8383f7;
  background-color: #333333;
}

.day-details.current-day {
  box-shadow: inset 0 0 0 2px #5a5af5;
  background-color: #5a5af5;
}
