* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body,
.section-pricing,
.pricing-intro,
.plan-billing,
.plan-description,
.plan-desc,
.plan-featuress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 0.5px solid rgba(204, 204, 204, 0.3);
  padding: 0;
  margin-bottom: 4.8rem;
}

.hidden {
  display: none;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #000;
}

.section--pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 132rem;
  gap: 2.8rem;

  margin: 6.4rem auto;
  padding: 0.8rem;
}

.pricing-intro {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  gap: 2rem;
  color: #f7f7f7;
  margin-bottom: 8.4rem;
}

.pricing-text {
  font-size: 5.8rem;
  margin-bottom: 3.2rem;
  font-weight: 400;
}

.pricing-more-text {
  color: #c6c6c6;
  margin-bottom: 2.8rem;
}

.pricing-intro .btn {
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}

.plan-name {
  margin-bottom: 1rem;
}

.pricing-option {
  border-radius: 2.4rem;
  padding: 3rem 2.4rem;
}

.plan-head {
  padding: 1rem;
  margin-bottom: 2.4rem;
}

.monthly {
  font-size: 1.4rem;
}

.plan-billing {
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  border-radius: 2rem;
  margin-bottom: 1.2rem;
  gap: 3.8rem;
}

.plan-price {
  font-size: 2.8rem;
}

.option--1 {
  background-color: #ffe385;
}

.option--1 .plan-description,
.option--1 .plan-billing,
.option--1 .plan-features {
  background-color: #e6cc78;
}

.option--2 {
  background-color: #00fab0;
}

.option--2 .plan-description,
.option--2 .plan-billing,
.option--2 .plan-features {
  background-color: #00e19e;
}

.option--3 {
  background-color: #50bfff;
}

.option--3 .plan-description,
.option--3 .plan-billing,
.option--3 .plan-features {
  background-color: #48ace6;
}

.plan-description {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 2rem;
  gap: 1rem;
  padding: 2rem 2.2rem;
  margin-bottom: 1.2rem;
}

.plan-desc {
  padding: 1rem 0.2rem;

  justify-content: flex-start;
  gap: 1.2rem;
}

.plan-features {
  border-radius: 2rem;
  flex-direction: column;

  gap: 1rem;
  padding: 2rem 2.2rem;
}

.icon img {
  width: 1.8rem;
}

.feature-top {
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.feature {
  padding: 1rem 0.2rem;
}

.btn {
  text-decoration: none;
  color: #f7f7f7;
  background-color: #000;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  border-radius: 2rem;
}

.plan-features {
  list-style-type: none;
}
