* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #f7f7f7;
  background-color: #000;
}

.section--pricing {
  padding: 0 1.8rem;
}

.container {
  max-width: 130rem;
  margin: 7.2rem auto;
}

.pricing-intro {
  text-align: center;
  margin-bottom: 12.8rem;
}

.pricing-intro h1 {
  font-size: 5.8rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
}

.pricing-intro p {
  color: #c6c6c6;
  margin-bottom: 3.6rem;
}

.container a:link,
.container a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 1.8rem;
  border-radius: 10rem;
  transition: all 0.3s;
}

.pricing-intro a:link,
.pricing-intro a:visited {
  background-color: #fff;
  color: #000;
}

.pricing-intro a:hover,
.pricing-intro a:active {
  background-color: #dedede;
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.4rem;
  row-gap: 4.2rem;
}

.pricing-option {
  background-color: #f7f7f7;
  color: #000;
  font-size: 1.8rem;
  padding: 4.8rem 2.4rem 2.4rem 2.4rem;
  border-radius: 3.2rem;
}

.option--1 {
  background-color: #ffe385;
}

.option--1 .plan-billing,
.option--1 .plan-features,
.option--1 .plan-benefts {
  background-color: #e6cc78;
}

.option--2 {
  background-color: #00fab0;
}

.option--2 .plan-billing,
.option--2 .plan-features,
.option--2 .plan-benefts {
  background-color: #00e19e;
}

.option--3 {
  background-color: #50bfff;
}

.option--3 .plan-billing,
.option--3 .plan-features,
.option--3 .plan-benefts {
  background-color: #48ace6;
}

.plan-head {
  margin-left: 0.8rem;
  margin-bottom: 3.2rem;
}

.plan-head h2 {
  margin-bottom: 1rem;
}

.plan-billing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  border-radius: 1.8rem;
  margin-bottom: 1.2rem;
}

.plan-billing span {
  font-size: 2.2rem;
  font-weight: 600;
}

.plan-billing a:link,
.plan-billing a:visited {
  font-size: 1.4rem;
  padding: 1.2rem 2.2rem;
  color: #f7f7f7;
  background-color: #111;
}

.plan-features {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.8rem;
  padding: 2.4rem 1.8rem;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
}

.ph {
  font-size: 2rem;
}

.plan-benefts {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1.8rem;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
}

.plan-benefts p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: -0.4rem;
}
