* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #dedede;
}

.hidden {
  display: none;
}

.section--review {
  padding: 0 1.8rem;
}

.container {
  max-width: 120rem;
  margin: 9.8rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

.review {
  padding: 2.4rem;
  border-radius: 2.4rem;
  background-color: #f7f7f7;
}

.profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2.4rem;
}

.review h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.review-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 7.2rem;
  color: #444;
}

.review aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

aside p {
  font-size: 1.2rem;
  color: #444;
}

aside img {
  height: 1.4rem;
}
