* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body,
.section--review,
.review-last-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #dedede;
}

.section--review {
  margin: 6.4rem auto;
  padding: 0.8rem;
  gap: 2rem;
}

.review {
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 2.8rem;
  border-radius: 2rem;
  width: 60rem;
}

.img {
  margin-bottom: 2rem;
}

.profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

.reviewer-name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.review-text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 8.4rem;
  color: #444;
}

.review-last-part {
  justify-content: space-between;
}

.reviewer-title {
  font-size: 1.2rem;
  color: #444;
}

.reviewer-logo {
  height: 1.8rem;
}
