/* ////////////////////////////////// */
/* SMALLER LAPTOP (1304px) */
/* ////////////////////////////////// */
@media (max-width: 81.5em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (1040px) */
/* ////////////////////////////////// */
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }

  .nav-list {
    gap: 4.2rem;
  }
}

/* ////////////////////////////////// */
/* POTTRAIT TABLETS (720px) */
/* ////////////////////////////////// */
@media (max-width: 45em) {
  .header {
    padding: 0.8rem 4.8rem;
  }

  .btn {
    display: block;
  }

  .header nav {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #dedede;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: translateX(130%);
    transition: all 0.5s ease-in;
  }

  .nav-list {
    flex-direction: column;
  }

  .header.nav-open nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav-open .nav {
    color: #111;
  }

  .nav-open .btn--close {
    display: block;
  }

  .nav-open .btn--menu {
    display: none;
  }
}

/* ////////////////////////////////// */
/* SMARTPHONE (336px) */
/* ////////////////////////////////// */
@media (max-width: 21em) {
  .header {
    padding: 0.8rem 3.2rem;
  }

  .logo:link,
  .logo:visited {
    font-size: 3.8rem;
  }
}
