/* ////////////////////////////////// */
/* SMALLER LAPTOP (1032px) */
/* ////////////////////////////////// */
@media (max-width: 64.5em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (864px) */
/* ////////////////////////////////// */
@media (max-width: 54em) {
  html {
    font-size: 50%;
  }
}

/* ////////////////////////////////// */
/* POTRAIT TABLETS (768px) */
/* ////////////////////////////////// */
@media (max-width: 48em) {
}
