* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3.2rem;
  background-color: #f7f7f7;
}

.active {
  background-color: rgb(52, 47, 47);
  color: #f7f7f7;
}

.section-game {
  padding: 1.2rem;
}

.container {
  max-width: 60rem;
  margin: 4.8rem auto;
  padding: 5.4rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.07);
  position: relative;
}

.container div:first-child {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}

.container h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.time p:first-child {
  font-size: 9.6rem;
  margin-bottom: 6.2rem;
  font-weight: 600;
}

.dot {
  transform: translateY(-1.4rem);
  display: inline-block;
}

.container p:last-child {
  font-weight: 500;
}
