/* ////////////////////////////////// */
/* SMALLER LAPTOP (1256px) */
/* ////////////////////////////////// */
@media (max-width: 78.5em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (1072px) */
/* ////////////////////////////////// */
@media (max-width: 67em) {
  html {
    font-size: 50%;
  }
}

/* ////////////////////////////////// */
/* SMARTPHONE (400px) */
/* ////////////////////////////////// */
@media (max-width: 25em) {
}
