@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 65.2%;
}

body {
  font-weight: 400;
  font-size: 1.5rem;
  color: #222;
  background-color: #e3f2fd;
}

.section--quiz {
}
