/* ////////////////////////////////// */
/* SMALLER LAPTOP (1146px) */
/* ////////////////////////////////// */
@media (max-width: 74em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (992px) */
/* ////////////////////////////////// */
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .teams-box {
    column-gap: 6.4rem;
  }

  .team-box {
    gap: 2.8rem;
  }
}

/* ////////////////////////////////// */
/* POTRAIT TABLETS (752px) */
/* ////////////////////////////////// */
@media (max-width: 47em) {
  .teams-box {
    grid-template-columns: 1fr;
  }

  .team-box {
    gap: 3.2rem;
  }
}

/* ////////////////////////////////// */
/* PHONES (392px) */
/* ////////////////////////////////// */
@media (max-width: 24.5em) {
  .team-box {
    gap: 2.4rem;
  }
}
