* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */
body {
  font-size: 1.8rem;
  color: #f7f7f7;
}

.logo {
  width: 1.8rem;
}

.sec-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  background-color: #2b2e37;
  color: #f7f7f7;
  padding: 7.2rem 1.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primary-text {
  font-size: 1.6rem;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  padding-bottom: 1.4rem;
  border-bottom: 2.4px solid #dedede;
  width: 8.4rem;
  margin-bottom: 4.8rem;
}

.teams-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.2rem;
  row-gap: 8.4rem;
}

.team-box {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 3.2rem;
}

.team-box div {
  width: 14rem;
}

.box-image {
  width: 100%;
  border-radius: 0.4rem;
  margin-bottom: 2.4rem;
}

.team-name {
  margin-bottom: 1.2rem;
}

.role {
  font-size: 1.2rem;
  color: #7c7c7c;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.8rem;
}

.article {
  max-width: 26rem;
  background-color: #dedede;
  border-radius: 0.3rem;
  padding: 3.2rem 1.8rem 1.8rem 1.8rem;
  position: relative;
}

.article::before {
  position: absolute;
  top: 5.8rem;
  left: -0.4rem;
  transform: rotate(45deg);
  content: '';
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: #dedede;
}

.article h3 {
  color: #111;
  margin-bottom: 1.2rem;
}

.article blockquote {
  color: #222;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
}
