* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3.2rem;
  font-weight: 400;
  background-color: #dedede;
}

.section--weather {
  padding: 0 0.3rem;
}

.container {
  max-width: 60rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin: 4.8rem auto;
  color: #f7f7f7;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('	https://images3.alphacoders.com/109/1091500.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 3.2rem;
}

input {
  width: 80%;
  padding: 1rem 2.4rem;
  border: none;
  border: 0.12rem solid #dedede;
  border-radius: 10rem;

  font-size: 1.4rem;
  color: #f7f7f7;
  background-color: transparent;
  margin-bottom: 3.2rem;
}

.city-date {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 3.8rem;
}

.date {
  font-size: 1.4rem;
}

.temp {
  font-size: 6.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp span:last-child {
  font-weight: 400;
}

.min-max-temp {
  font-size: 1.8rem;
  font-weight: 400;
}
