* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #f7f7f7;
}

.container {
  margin: 9.8rem auto;
}

.holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8.4rem 7.2rem;
  align-items: center;
  gap: 7.2rem;
}

.holder--2,
.holder--4 {
  background-color: #ecf1f8;
}

.img img {
  height: 42rem;
}

.text h2 {
  font-size: 3.6rem;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 2.4rem;
  color: #3273dc;
}

.text p {
  font-size: 2.3rem;
  line-height: 1.8;
  color: #555;
}

.oficial-site {
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 4.8rem;
}
