* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #f7f7f7;
  background-color: #111;
  line-height: 1.2;
}

.hidden {
  display: none;
}

.section--imageslider {
  padding: 2.8rem 7.2rem;
}

.container {
  margin: 9.8rem auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  padding: 2.4rem 6.8rem;
  gap: 2.4rem;
  background: radial-gradient(
    circle,
    rgba(25, 93, 106, 1) 38%,
    rgba(35, 35, 62, 1) 91%
  );
}

.ph {
  padding: 3.2rem 0.8rem;
  font-size: 1.8rem;
}

.imgs {
  position: relative;
}

.img_holder {
}

.container img {
  width: 100%;
}

.container h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  font-size: 1.8rem;
  padding: 0.8rem 1.2rem;
  color: #000;
  background: linear-gradient(270deg, rgb(33 59 119) 0%, rgb(28 102 44) 100%);
}

.img-count {
}

.all-imgs {
}

.img {
}

.caption-text {
  background: linear-gradient(270deg, rgb(33 59 119) 0%, rgb(28 102 44) 100%);
}
