* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  background-color: #f7f7f7;
}

.container {
  max-width: 120rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin: 0.2rem auto;
}

.svg {
  width: 1.8rem;
  cursor: pointer;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("images/ben iwara.jpg");
  background-size: cover;
  width: 34rem;
  height: 32rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  margin-bottom: 3.6rem;
}

.menu-and-list,
.search-and-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.head {
  color: #f7f7f7;
  font-size: 1.8rem;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.current-song-name {
  color: #f7f7f7;
  font-size: 2.8rem;
  font-weight: 500;
}

.swift-control,
.controls {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: center;
}

.swift-control {
  margin-bottom: 3.6rem;
}

.controls {
  padding: 0 2.8rem;
}

.seek-bar-container {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  justify-content: start;
  align-content: center;
  padding: 1rem 0.72rem;
  margin-bottom: 1.8rem;
}

.current-time,
.duration {
  font-size: 1.4rem;
  color: #f7f7f7;
}

.music-seek-bar {
  -webkit-appearance: none;
  height: 0.5rem;
  background: #000;
  overflow: hidden;
  justify-self: stretch;
  align-self: center;
  margin: 0 0.3rem;
  cursor: pointer;
}

.music-seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 5px;
  background: #63ff69;
  cursor: pointer;
  border-radius: 5rem;
}

/* //////////////////////// */
/* PLAYLIST */
/* //////////////////////// */

.play-list {
  list-style: none;
  background-color: #222;
  padding: 1.8rem 2.4rem 1.2rem 2.4rem;
}

.detail {
  padding: 0.42rem 0;
}

.list {
  display: grid;
  grid-template-columns: 5rem 1fr 2.4rem;
  margin-bottom: 0.8rem;
}

.cover-photo {
  width: 5rem;
  height: 5rem;
}

.song-detail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.24rem;
  padding: 0 1.2rem;
}

.song-name {
  color: #f7f7f7;
  font-size: 1.6rem;
  font-weight: 500;
}

.artist,
.song-artist {
  color: rgba(247, 247, 247, 0.8);
  font-size: 1.4rem;
  font-weight: 400;
}

.song-artist {
  font-size: 1.8rem;
}

.svg--playlist {
  justify-self: center;
  align-self: center;
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  padding: 0;
}
