@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.6rem;
  color: #000;
  background-color: lightblue;
  line-height: 1;
}

.section--editor {
  padding: 1.8rem;
}

.container {
  max-width: 112rem;
  margin: 4.8rem auto;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #f7f7f7;
  padding: 2.8rem;
  column-gap: 1.8rem;
  row-gap: 2.8rem;
}

.primary-text {
  grid-row: 1/2;
  grid-column: 1/-1;

  font-size: 2.4rem;
  font-weight: 500;
}

.controls {
  border: 1px solid rgba(85, 85, 85, 0.12);
  padding: 1.8rem 1.8rem 3.2rem 1.8rem;
}

.secondary-text {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.btn-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem;
  margin-bottom: 1.8rem;
}

.btn-controls .btn.active {
  color: #fff;
  background-color: blue;
  border: 1px solid blue;
}

.btn {
  border: none;
  border: 1px solid rgba(153, 153, 153, 0.53);
  background-color: transparent;
  color: #777;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  text-align: center;
}

.label-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 0.8rem;
}

.control {
  width: 100%;
}

.filter-selected {
  margin-top: 1.2rem;
}

.flip-rotate {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

.ph {
  padding: 0.8rem 1.2rem;
  border: 1px solid rgba(153, 153, 153, 0.4);
  display: inline-block;
  text-align: center;
}

.img-holder {
  background-color: #999;
}

.btn.btn--reset {
  justify-self: start;
  text-transform: uppercase;
  color: #222;
  padding: 1.2rem;
}

.btns {
  justify-self: end;
}

.btns .btn {
  text-transform: uppercase;
  color: #fff;
  padding: 1.2rem;
}

.btn.btn--chose {
  background-color: #00000080;
}

.btn.btn--save {
  background-color: blue;
}
