* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.basic-calc {
  max-width: 30rem;
  margin: 3.6rem auto;
  padding: 0 1.2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.8rem;
  font-weight: bolder;
}

span {
  padding: 2.8rem;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.3s;
  border-top: none;
  border-right: none;
}

.last {
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}

span:hover {
  background-color: #888;
  color: #f7f7f7;
}

.disp {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  background-color: rgba(19, 16, 16, 0.75);
}

.disp--output1,
.disp--output2 {
  height: 2.8rem;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  padding-right: 1.5rem;
  border: none;
  color: #f7f7f7;
}

.disp--output1:hover,
.disp--output2:hover {
  background-color: initial;
}

.delete {
  grid-column: 3 / -1;
}

.zero {
  grid-column: 1 / span 2;
}

.equal {
  background-color: rgba(255, 132, 0, 0.8);
  color: #f7f7f7;
  grid-column: 4 / 5;
  grid-row: 5/7;
  display: flex;
  align-items: center;
}

.equal:hover {
  background-color: rgba(218, 115, 4);
}
