@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #f2f2f2;
  flex-direction: column;
}

.section--statistics {
  padding: 0 1.8rem;
}

.container {
  margin: 3.2rem auto;
  max-width: 72rem;
}

.rep--1 {
  color: #f7f7f7;
  padding: 4.2rem;
  background-color: #444;
  margin-bottom: 7.2rem;
}

.rep-head {
  padding: 0 4.2rem;
  margin-bottom: 1.8rem;
  text-align: center;
  font-size: 3.2rem;
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.4rem;
}

.icon {
  font-size: 2.4rem;
  color: rgb(237, 158, 10);
}

.icon.star {
  font-size: 1.2rem;
}

.contain {
  background-color: #222;
  border-radius: 0.8rem;
  text-align: center;
  padding: 4.2rem;
  white-space: nowrap;
}

.contain-icons {
  margin-bottom: 2.8rem;
}

.contain-head {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.contain-text {
  font-size: 1rem;
  color: #c8c8c8;
  margin-bottom: 1.8rem;
}

.rep--2 {
  text-align: center;
  background-color: #dedede;
  padding: 2.4rem;
}

.rep--2-num {
  font-size: 5.2rem;
  margin-bottom: 0.8rem;
}

.rep--2-text {
  margin-bottom: 3.2rem;
  color: #333;
  font-size: 1.2rem;
}

.rep--2-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.holder-num {
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.holder-text {
  font-size: 1.2rem;
  color: #444;
  white-space: nowrap;
}
