* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body,
.section--statistics,
.container,
.contain-icons,
.contain,
.rep--2,
.rep--2-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.site {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.hr {
  display: block;
  border: none;

  border-top: 0.5px solid #02081e67;
  margin-bottom: 1.6rem;
  margin: 0 0.8rem 0.8rem 0.8rem;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #f2f2f2;
  flex-direction: column;
}

.section--statistics {
  flex-direction: column;
  gap: 5rem;
  margin: 2rem auto;
  padding: 1rem 5rem;
}

/* FIRST STAT */
.rep--1 {
  background-color: #444;
  color: #f7f7f7;
  padding: 4rem;
  max-width: 70rem;
}

.rep-head {
  padding: 0 4rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3.2rem;
}

.container {
  gap: 2rem;
}

.contain {
  background-color: #222;
  width: 20rem;
  height: 20rem;
  border-radius: 0.8rem;
  flex-direction: column;
}

.contain-icons {
  gap: 0.8rem;
  margin: 1.8rem;
}

.icon {
  font-size: 2.4rem;
  color: rgb(237, 158, 10);
  display: block;
  margin: 1.6rem auto;
}

.icon.star {
  font-size: 1.2rem;
}

.contain-head {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.contain-text {
  font-size: 1.2rem;
  color: #c8c8c8;
  margin-bottom: 1.8rem;
}

/* SECOND STAT */
.rep--2 {
  flex-direction: column;
  padding: 2rem;
  background-color: #dedede;
}

.rep--2-num {
  font-size: 5.4rem;
  margin-bottom: 0.8rem;
}

.rep--2-text {
  margin-bottom: 3.2rem;
  color: #333;
  font-size: 1.2rem;
}

.rep--2-container {
  gap: 1.8rem;
}

.holder-num {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.holder-text {
  font-size: 1.2rem;
  color: #444;
}
