/* ////////////////////////////////// */
/* SMALLER LAPTOP (700px) */
/* ////////////////////////////////// */
@media (max-width: 43.75em) {
  html {
    font-size: 56.25%;
  }

  .section--chatbot {
    padding: 0 2.4rem;
  }
}

/* ////////////////////////////////// */
/* SMARTPHONE (472px) */
/* ////////////////////////////////// */
@media (max-width: 29.5em) {
  .section--chatbot {
    padding: 0 1.2rem;
    width: 100vw;
  }

  .container {
    width: 100%;
  }

  .conversations {
    height: 85vh;
    width: 100%;
  }
}
