@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 65.2%;
}

body {
  font-weight: 400;
  font-size: 1.5rem;
  color: #222;
  background-color: #e3f2fd;
}

.hidden {
  display: none;
}

.section--chatbot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 4.8rem;
}

.container {
  margin-top: 4.8rem;
  color: #fff;
  max-width: 38rem;
}

.inner-container {
  overflow: hidden;
  border-radius: 1.4rem;
  background-color: #fff;
  margin-bottom: 1.2rem;
}

.inner-container h1 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem;
  text-align: center;
  background-color: #724ae8;
}

.conversations {
  height: 38rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem;
  overflow: auto;
}

.conversations::-webkit-scrollbar {
  display: none;
}

.chatbot {
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
}

.chatbot i {
  font-size: 1.8rem;
  background-color: #724ae8;
  border-radius: 0.4rem;
  padding: 0.4rem;
}

.bot-msg,
.user-msg {
  max-width: 75%;
  padding: 0.8rem;
  line-height: 1.1;
  border-radius: 1rem;
}

.bot-msg {
  color: #111;
  background-color: #f2f2f2;
  border-bottom-left-radius: 0;
}

.user-msg {
  align-self: flex-end;
  background-color: #724ae8;
  border-bottom-right-radius: 0;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  align-items: center;
}

.form textarea {
  margin: 0.4rem;
  padding: 1.2rem;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.6rem;
  max-height: 6.2rem;
}

textarea::-webkit-scrollbar {
  display: none;
}

.ph-fill {
  visibility: hidden;
  color: #724ae8;
  padding: 1.2rem;
  font-size: 1.8rem;
}

textarea:valid ~ .ph-fill {
  visibility: visible;
}

.btn {
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.form .btn {
  background-color: #fff;
}

.btn i {
  padding: 1.8rem;
  color: #724ae8;
  display: inline-block;
}

.btns {
  text-align: right;
  padding-right: 0.8rem;
}

.btns .btn {
  background-color: #724ae8;
  border-radius: 50%;
  padding: 0;
}

.btns i {
  color: #fff;
  padding: 1.2rem;
}
