* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #f7f7f7;
  background-color: #111;
  line-height: 1.2;
}

.hidden {
  display: none;
}

.section--checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.8rem;
  height: 100%;
  background-color: #19152dde;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  justify-content: center;
  max-width: 98rem;
  column-gap: 2.4rem;
}

.img-holder {
  text-align: center;
  padding: 2.4rem;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
}

.product-infor {
  padding: 2.4rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to right, #dededed0, #f7f7f7);
}

.background-image {
  transform: scale(2);
  margin-left: -110%;
}

.product-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: blue;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  letter-spacing: 0.1em;
}

.primary-text {
  text-transform: capitalize;
  color: #111;
  margin-bottom: 1.8rem;
}

.watch-img {
  height: 40rem;
  padding-bottom: 3.2rem;
}

.dots-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.dot {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid #3333a2;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.current-img {
  background-color: #3333a2;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #3333a2;
  gap: 1.8rem;
  padding: 5.2rem 3.2rem;
}

.form-text {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1/-1;
}

.form input {
  border: 1px solid #9e9e9e84;
  padding: 1rem;
  color: #f7f7f7;
  background-color: transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input:focus {
  outline: none;
}

.form input::placeholder {
  color: #dedede;
}

.card-name,
.card-number,
.cardholder {
  grid-column: 1/-1;
}

.checkout {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 50%;
  padding: 1.2rem;
  margin: 2.4rem 0 3.2rem 0;
  grid-column: 1/-1;
  white-space: nowrap;
}
