* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #f7f7f7;
}

.section--faq {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.8rem;
  margin: 2.4rem 4rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}

.question {
  grid-row: 1/2;
  grid-column: 1/-1;
  border-radius: 1.8rem;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.heading {
  font-size: 3.2rem;
  color: #f7f7f7;
  background-color: #fff;
}

.contact-us {
}

.quizes {
}

.quiz {
}

.quiz-top {
}

.quiz-head {
}

.quiz-icon {
}

.quiz-text {
}

.hidden {
  display: none;
}

.heading {
  margin-bottom: 1.8rem;
  font-size: 2.2rem;
  color: #222;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.btn:link,
.btn:active {
  text-decoration: none;
  background-color: #fefe67;
  color: #111;
  font-size: 3.2rem;
  font-weight: 700;
  padding: 3.2rem 4.8rem;

  border-radius: 10rem;
  transition: all 0.3s;
}

.btn:hover,
.btn:visited {
  color: #f7f7f7;
  text-decoration: underline;
}

.btn--1 {
}

.btn--2 {
}

.btn-text1 {
  margin-bottom: 3.2rem;
}

.btn-text2 {
}
