* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.section-guess {
  max-width: 60rem;
  margin: 2rem auto;
  font-weight: bold;
  padding: 1.4rem;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 3.2rem;
  font-size: 2.2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 2.4rem 0;
}

.user-number {
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #000;
  border: none;
  border: 2px solid #000;
  border-radius: 0.5rem;
  font-weight: bold;
}

.attempts-counts {
  margin-bottom: 3.2rem;
}

button {
  padding: 0.5rem;
  font-size: 2.4rem;
  border: none;
  border-radius: 0.4rem;
  font-weight: bolder;
  margin-bottom: 6.4rem;
}

@media (max-width: 30em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 26em) {
  .container {
    padding: 4.8rem;
    font-size: 1.6rem;
  }
}
