* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  background-color: #f7f7f7;
  color: #222;
}

.ph-fill,
.ph {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
}

.song img {
  height: 5rem;
  width: 5rem;
}

.container {
  max-width: 34rem;
  margin: 0.1rem auto;
  color: #f7f7f7;
}

.head {
  background-image: url('images/ben.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 6.2rem;
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
  margin-bottom: 7.8rem;
  padding: 1.4rem;
}

.nav-div h1 {
  font-size: 1.8rem;
  margin-right: auto;
  font-weight: 600;
}

.current-song-controls {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 4.8rem;
}

.current-song-name {
  position: absolute;
  bottom: 3.2rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2.8rem;
  font-weight: 500;
}

.song-artist {
  font-size: 1.8rem;
  color: #dedede;
}

.seek-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.6rem;
  padding: 0 1.2rem;
  margin-bottom: 2.8rem;
}

.seek-bar p {
  font-size: 1.4rem;
}

.music-seek {
  -webkit-appearance: none;
  height: 0.5rem;
  background: #000;
  cursor: pointer;
  align-self: center;
}

.music-seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.5rem;
  width: 0.5rem;
  background: #63ff69;
  cursor: pointer;
  align-self: center;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding: 0 2.8rem;
}

.songs {
  background-color: #222;
  list-style: none;
  padding: 2.2rem 2.4rem 2.4rem 2.4rem;
}

.song {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: 0.3rem 0;
  padding: 0.6rem 0;
  border-bottom: 1px solid #4a4a4a;
}

.song p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  gap: 0.2rem;
}

.song p span:first-child {
  font-size: 1.8rem;
  font-weight: 500;
}

.song p span:last-child {
  font-size: 1.3rem;
  font-weight: 400;
  color: #dedede;
}
