* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
body,
.section--hero,
.nav-bar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.hidden {
  display: none;
}

.site {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.hr {
  display: block;
  border: none;

  border-top: 0.5px solid #02081e67;
  margin-bottom: 1.6rem;
  margin: 0 0.8rem 0.8rem 0.8rem;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */

body {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  background-color: #dedede;
  flex-direction: column;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("./imgs/forest-dark.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fefefe;
  /* position: relative; */
}

.section--hero {
  /* width: 40rem; */
  /* margin: 3.2rem auto; */
  gap: 3rem;
  font-size: 3.2rem;
  justify-content: space-between;
  padding: 1rem 5rem;
  /* background-color: rgb(26, 144, 162); */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
}

.home {
}

.nav-bar-list {
  /* background-color: rgb(217, 46, 46); */
  justify-content: space-around;
  gap: 3rem;
}

.nav-detail {
  list-style-type: none;
  /* background-color: rgb(85, 24, 192); */
}

.detail {
}
