@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

body {
  font-weight: 400;
  color: #000;
  background-color: #dedede;
  overflow-x: hidden;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url('./imgs/see-life.jpg');

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fefefe;
  position: relative;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 3.2rem;
}

.navbar {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  margin-bottom: 24rem;
}

.logo {
  font-size: 4.2rem;
  font-weight: 500;
  font-family: 'Yellowtail', cursive;
  margin-right: auto;
}

.btn {
  border: none;
  display: none;
  cursor: pointer;
  background: none;
  color: #fff;
}

.btn--close {
  display: none;
}

.ph {
  font-size: 3.2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4.8rem;
}

.nav:link,
.nav:active {
  font-size: 2.8rem;
  color: #f7f7f7;
  text-decoration: none;
  padding-bottom: 0.8px;
  border-bottom: 2px solid inherit;
  transition: all 0.3s;
}

.nav:hover,
.nav:visited {
  border-bottom: 2px solid #f7f7f7;
}

.text {
  text-align: center;
}

.secondary-text {
  font-size: 2.4rem;
}

.primary-text {
  font-size: 4.8rem;
}
