* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-change {
  width: 50%;
  margin: 10rem auto;
  text-align: center;
}

p {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}

.color {
  height: 40rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
}

@media (max-width: 38em) {
  p {
    font-size: 1.6rem;
  }

  .color-change {
    width: 70%;
  }
}
