*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.color-change{
    width: 60rem;
    margin: 10rem auto;
    text-align: center;
    padding: 1rem;
}

.color-text{
    font-size: 2rem;
    font-weight: bold;
}

.color{
    height: 30rem;
    background-color: blue;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
}