@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 65.2%;
}

/* /////////////////////// */
/* REUSABLE CODE */
/* /////////////////////// */

body {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.1;
  background-color: #222;
  position: relative;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
}

.grid-template--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-template--5 {
  grid-template-columns: repeat(5, 1fr);
}

.section {
  margin-left: 9.5rem;
  padding: 3.2rem 2.8rem;
  border-radius: 2.8rem;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
}
