@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 65.2%;
}

/* /////////////////////// */
/* REUSABLE CODE */
/* /////////////////////// */

body {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.1;
  color: #222;
  background-color: #f7f7f7;
  position: relative;
  /* overflow-x: hidden; */
}

ul {
  list-style: none;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.hidden {
  display: none;
}

.grid {
  display: grid;
}

.grid-template--3 {
  grid-template-columns: repeat(3, 1fr);
}
