.section--registation {
  padding: 2.8rem 0;
}

body {
  background-color: #000;
}

.hidden {
  display: none;
}

.container {
  max-width: 98rem;
  margin: 2.4rem auto;
  border: 1px solid #f7f7f760;
  border-radius: 1rem;
}

.section--registation .container {
  grid-template-columns: 2fr 1.5fr;
  align-items: center;
  padding: 1.2rem;
}

.login-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  padding: 2.4rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

input,
input:active {
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  margin-bottom: 1.4rem;
  width: 100%;

  background-color: transparent;
  border: 1px solid #dedede30;
  color: #dedede;
}

input:active {
  background-color: transparent;
}

.password {
  margin-bottom: 4.8rem;
}

input:last-child .login-form input {
  width: 100%;
}

.login-form .primary-text {
  font-size: 2.8rem;
  align-self: center;
}

.login-form .primary-support {
  font-size: 1.6rem;
  align-self: center;
  margin-bottom: 4.8rem;
}

.section--registation img {
  width: 100%;
}

.reminder {
  font-size: 1.2rem;
}

.btn--big {
  font-size: 1.6rem;
  border: 1px solid #dedede30;
  font-weight: 500;
  width: 100%;
  justify-self: center;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.btn--sign-in,
.btn--sign-up {
  color: black;
  background-color: #dedede;
}

.reminder {
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.reminder a:link,
.reminder a:visited {
  color: aqua;
}
