* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #111;
  color: #f7f7f7;
}

.container {
  padding: 2rem;
  margin: 0 auto;
  font-weight: bold;
}

.grid-list {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0.2rem;
  column-gap: 0.2rem;
  padding: 1.4rem;
}

.cal-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0.1rem 2.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.today-weekday {
  font-size: 1.8rem;
}

.today-date {
  font-size: 2.2rem;
}

.calender-nav {
  padding: 0.5rem 1.8rem 0.5rem 0.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calender-nav-detail.current-month {
  font-size: 1.8rem;
}

.icon {
  font-size: 2.4rem;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.3s;
}

.icon:hover {
  background-color: rgba(247, 247, 247, 0.3);
}

.week-day,
.day-details {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  padding: 0.8rem;
}

.grid-list.week-days {
  padding: 0.2rem 1.2rem;
}

.grid-list.days-list {
  padding: 0.5rem 1.2rem;
  font-size: 1.4rem;
}

.day-details {
  border-radius: 10rem;
  height: 4.2rem;
  width: 4.2rem;
}

.day-details:hover {
  border: 2px solid blue;
  background-color: lightblue;
}

.day-details.current-day {
  background-color: blue;
  border: 2px solid blue;
}

.prev-month-day,
.next-month-day {
  font-weight: #f0f0f0;
}
