* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* ////////////////////////// */
/* GENERAL STYLE */
/* ////////////////////////// */
body,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #1a1a1a;
  color: #f7f7f7;
}

.container {
  margin: 5rem auto;
  border: 1px solid #888888;
  border-radius: 0.5rem;
}

.header {
  flex-direction: column;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  background-color: #3131f2;
}

/* ////////////////////////// */
/* REUSABLE STYLE */
/* ////////////////////////// */
.grid-list {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0.3rem;
  column-gap: 0.3rem;
  padding: 1.4rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ////////////////////////// */
/* SYSTEMATIC STYLE */
/* ////////////////////////// */
.calender-nav-list {
  list-style-type: none;
  padding: 0.2rem;
  justify-content: space-between;
}

.calender-nav-detail.current-month {
  font-size: 1.6rem;
}

.today-weekday {
  font-size: 1.6rem;
}

.today-date {
  font-size: 1.8rem;
}

.icon {
  font-size: 2.4rem;
  padding: 0.8rem;
  border-radius: 50%;

  cursor: pointer;
  transition: all 0.3s;
}

.week-day,
.day-details {
  font-size: 1.4rem;
  padding: 0.8rem;
  transition: all 0.3s;
}

.day-details:hover,
.icon:hover {
  background-color: #333;
}

.day-details {
  border-radius: 10rem;
  height: 4.2rem;
}

.grid-list.week-days {
  padding: 0;
  color: #888888;
}

.grid-list.days-list {
  padding: 0.5rem 1.2rem;
  font-size: 1.4rem;
}

.day-clicked,
.day-clicked:hover {
  border: 2px solid #5f5ff5;
  background-color: #333333;
}

.day-details.current-day {
  border: 2px solid #3131f2;
  background-color: #3131f2;
}

.prev-month-day,
.next-month-day {
  color: #888888;
}
