/* ////////////////////////////////// */
/* SMALLER LAPTOP (1216px) */
/* ////////////////////////////////// */
@media (max-width: 76em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (992px) */
/* ////////////////////////////////// */
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 0 4.8rem;
  }

  .nav-list {
    gap: 3.2rem;
  }

  .container {
    column-gap: 1.8rem;
  }
}

/* ////////////////////////////////// */
/* PORTRAIT TABLETS (776px) */
/* ////////////////////////////////// */
@media (max-width: 48.5em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.8rem;
  }
}

/* ////////////////////////////////// */
/* MOBILE (408px) */
/* ////////////////////////////////// */
@media (max-width: 25.5em) {
}
