/* ////////////////////////////////// */
/* SMALLER LAPTOP (1216px) */
/* ////////////////////////////////// */
@media (max-width: 76em) {
  html {
    font-size: 56.25%;
  }
}

/* ////////////////////////////////// */
/* LANDSCAPE TABLETS (992px) */
/* ////////////////////////////////// */
@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 0 4.8rem;
  }

  .nav-list {
    gap: 3.2rem;
  }

  .container {
    column-gap: 1.8rem;
  }
}

/* ////////////////////////////////// */
/* PORTRAIT TABLETS (776px) */
/* ////////////////////////////////// */
@media (max-width: 48.5em) {
  .section--hero {
    margin: 9.2rem auto;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.8rem;
  }

  .menu-btns {
    display: block;
  }

  .btn--close {
    display: none;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #add8e6;
    width: 80%;
    height: 100vh;
    padding: 7.2rem 7.8rem;
    z-index: 10;
    display: none;
  }

  .nav-list {
    gap: 4.8rem;
    flex-direction: column;
  }

  .more {
    left: 40%;
    width: 50%;
    background-color: transparent;
    padding: 9.2rem 0;
    display: none;
  }

  .links-disappear {
    display: none;
  }

  .search-bar {
    top: 0;
    width: 100%;
    padding: 1.2rem 4.8rem;
    display: block;
    background-color: #add8e6;
    display: none;
  }

  .search-news {
    width: 70vw;
  }
}

/* ////////////////////////////////// */
/* SMARTPHONE (504px) */
/* ////////////////////////////////// */
@media (max-width: 31.5em) {
  .container {
    grid-template-columns: 1fr;
    row-gap: 2.8rem;
  }

  .search-bar {
    padding: 1.2rem 3.2rem;
  }

  .search-news {
    width: 100%;
  }

  .nav {
    padding: 7.2rem 4.2rem;
  }
}
