@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
  background-color: #f7f7f7;
}

.hidden {
  display: none;
}

/* /////////////////////////// */
/* HEADER SECTION */
/* /////////////////////////// */
.header {
  padding: 0 6.4rem;
  margin: 0 auto;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #add8e6;
  box-shadow: 0 0 1.2rem 1.2rem rgba(0, 0, 0, 0.07);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.home.nav-detail {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4.8rem;
}

.nav-detail {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.more {
  position: absolute;
  top: 6.8rem;
  left: 0;
  width: 100%;
  gap: 1.8rem;
  background-color: #dedede;
  height: 5.2rem;
  padding: 0 2.8rem;
  margin: 0 auto;
  display: none;
}

.search-bar {
  position: absolute;
  top: 6.8rem;
  left: 0;
  width: 100%;
  background-color: #dedede;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.search-news {
  height: 4.8rem;
  width: 50vw;
  border: none;
  padding: 1.2rem;
  outline: none;
  font-size: 1.4rem;
}

/* ///////////////////////// */
/* MENU NAVIGATION */
/* ///////////////////////// */

.menu-btns {
  display: none;
}

.btn {
  font-size: 2.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section--hero {
  margin: 7.8rem auto;
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.8rem;
  column-gap: 2.8rem;
  align-items: center;
  justify-content: space-around;
}

.article {
  display: inline-block;
  max-width: 36rem;
  min-height: 40rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 4px #d4ecff;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0 0 2.4rem 0;
}

.article:hover {
  transform: translateY(-2px);
  background-color: #f9fdff;
  box-shadow: 1px 1px 8px #d4ecff;
}

.img-holder {
}

.img-holder img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.secondary-text {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  margin-bottom: 0.8rem;
}

.date {
  font-size: 1.4rem;
  padding: 0 1.2rem;
  color: #444;
  margin-bottom: 0.4rem;
}

.blockquote {
  font-size: 1.4rem;
  font-size: 500;
  padding: 0 1.2rem;
}
